.logo-div {
  display: flex;
  background-color: #D45B5B;
  justify-content: center;
}

.container-fluid {
  flex-direction: column;
  background-color: #D45B5B;
}

#navbarSupportedContent {
  justify-content: center;
}

nav {
 background-color: #D45B5B;
 width: 100%;
}
body {
  background-color: #F6F3EF;
}
h1 {
  color: #D45B5B;
}
title {
  color: #D45B5B;
}
