#navbarSupportedContent {
  justify-content: center;
}
.logo-div {
  display: flex;
  background-color: #D45B5B;
  justify-content: center;
}

.container-fluid {
  flex-direction: column;
  background-color: #D45B5B;
}

/* .nav-item {
  padding: 0 10% 0 10%;
} */

.nav-link {
  color: #FFF!important;
  font-weight: bold;
  font-size: 1.5rem;

}

.row {
  justify-content: space-evenly;
  margin-top: 10px;
}

.search {
  margin-top: 10px;
  padding: 10px;
<<<<<<< HEAD
=======
  display: flex;
  flex-direction: column;
}

.d-flex {
  width: 50%;
>>>>>>> 4e9105cc23aeb06814104d0fee4b7d4daef43d52
}

nav {
 background-color: #D45B5B;
 width: 100%;
}
body {
  background-color: #F6F3EF;
  font-family: 'Ubuntu';
}
h1 {
  color: #D45B5B;
}
title {
  color: #D45B5B;
}
