.logo-div {
  display: flex;
  background-color: #D45B5B;
  justify-content: center;
}

nav {
 background-color: #F86F0F;
}

body {
  background-color: #f6f3ef;
}

h1 {
  color: #D45B5B;
}

title {
  color: #D45B5B;
}
